<section class="guides-page-sec">
    <div class="container">
        {{> components/breadcrumbs }}

        <h1 class="tours-hero-sec__title">Список наших гидов</h1>
        <p class="tours-hero-sec__subtitle">Лучшие гиды по во всем мире</p>


        <div class="guides-page-sec__filtr-wrapper">
            <h2 class="guides-page-sec__filtr-title">Гиды по направлениям</h2>
            <div class="guides-page-sec__filtr-row">
                <a href="" class="tours-hero-sec__teg tour-teg active">
                    Все
                    <span class="tour-teg__counter">12</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Россия
                    <span class="tour-teg__counter">4</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Вьетнам
                    <span class="tour-teg__counter">2</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Дананг
                    <span class="tour-teg__counter">54</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Тайланд
                    <span class="tour-teg__counter">3</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Греция
                    <span class="tour-teg__counter">12</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Иордания
                    <span class="tour-teg__counter">2</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Греция
                    <span class="tour-teg__counter">43</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Таджикистан
                    <span class="tour-teg__counter">2</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Казахстан
                    <span class="tour-teg__counter">9</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Киргизия
                    <span class="tour-teg__counter">9</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Узбекистан
                    <span class="tour-teg__counter">9</span>
                </a>
                <a href="" class="tours-hero-sec__teg tour-teg">
                    Таиланд
                    <span class="tour-teg__counter">9</span>
                </a>
            </div>
        </div>

        <div class="guides-page-sec__list-people">
         
            {{> components/guide-card-2
            img="/src/img/guide5.png"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide6.jpg"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide7.jpg"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide8.png"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide2.jpg"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide5.png"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide6.jpg"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide7.jpg"
            title="Марина"
            }}
        
            {{> components/guide-card-2
            img="/src/img/guide8.png"
            title="Марина"
            }}
    
            {{> components/guide-card-2
            img="/src/img/guide2.jpg"
            title="Марина"
            }}

            {{> components/guide-card-2
            img="/src/img/guide6.jpg"
            title="Марина"
            }}
    
            {{> components/guide-card-2
            img="/src/img/guide7.jpg"
            title="Марина"
            }}
         
        </div>
    </div>
</section>