<section class="home-hero-sec">

    <div class="container">test</div>

</section>

<section class="home-popular-directions">
    <div class="container">
        <div class="sec-header">
            <div class="sec-header__text">
                <h2 class="sec-title">Популярные направления</h2>
                <p class="sec-header__subtitle">937 городов в 117 странах</p>
            </div>

            <a href="" class="sec-header__btn">Все направления</a>
        </div>

        <div class="home-popular-directions__wrapper">

            {{> components/direction-card
            title="Норвегия"
            img="/src/img/dir-1.jpg"
            count="241"
            }}

            {{> components/direction-card
            title="Камчатка"
            img="/src/img/dir-2.webp"
            count="89"
            }}

            {{> components/direction-card
            title="Италия"
            img="/src/img/dir-3.jpg"
            count="124"
            }}

            {{> components/direction-card
            title="Тайланд"
            img="/src/img/dir-5.jpg"
            count="54"
            }}

            {{> components/direction-card
            title="Исландия"
            img="/src/img/dir-6.jpg"
            count="23"
            }}

            {{> components/direction-card
            title="Канада"
            img="/src/img/dir-7.jpg"
            count="76"
            }}

            {{> components/direction-card
            title="Карелия"
            img="/src/img/dir-8.webp"
            count="89"
            }}

            {{> components/direction-card
            title="Крым"
            img="/src/img/dir-9.webp"
            count="89"
            }}

            {{> components/direction-card
            title="Иордания"
            img="/src/img/dir-10.webp"
            count="124"
            }}

            {{> components/direction-card
            title="Греция"
            img="/src/img/dir-11.jpg"
            count="54"
            }}

        </div>


    </div>
</section>

<section class="home-tours-sec">
    <div class="container">
        <div class="sec-header">
            <div class="sec-header__text">
                <h2 class="sec-title">Многодневные туры</h2>
                <p class="sec-header__subtitle">Путешествия в места, которые не посмотреть за день</p>
            </div>

            <a href="" class="sec-header__btn">Все туры</a>
        </div>

        <div class="home-tours-sec__wrapper">
            {{> components/tour-card
            img="/src/img/tour1.jpg"
            title="Забыть о делах: беззаботный отпуск на Пхукете в мини-группе "
            description="Полюбоваться каскадами рисовых террас, подняться к Вратам рая и узнать, как живут хмонги"
            }}

            {{> components/tour-card
            img="/src/img/tour2.jpg"
            title="Под парусом от острова к острову: тайский круиз на катамаране"
            description="Оказаться в «Руках Бога», запуститьплавучий фонарик в местной Венеции прокатиться в лодке"
            }}

            {{> components/tour-card
            img="/src/img/tour3.jpg"
            title="Релакс-выходные на реке Квай: слоны, сплав на плоту и катание на лодках"
            description="Отдохнуть на лучших пляжах, расслабиться во время тайского массажа и посетить"
            }}

            {{> components/tour-card
            img="/src/img/tour4.webp"
            title="Забыть о делах: беззаботный отпуск на Пхукете в мини-группе "
            description="Полюбоваться каскадами рисовых террас, подняться к Вратам рая и узнать, как живут хмонги"
            }}

            {{> components/tour-card
            img="/src/img/tour5.jpg"
            title="Под парусом от острова к острову: тайский круиз на катамаране"
            description="Оказаться в «Руках Бога», запуститьплавучий фонарик в местной Венеции прокатиться в лодке"
            }}

            {{> components/tour-card
            img="/src/img/tour6.jpg"
            title="Релакс-выходные на реке Квай: слоны, сплав на плоту и катание на лодках"
            description="Отдохнуть на лучших пляжах, расслабиться во время тайского массажа и посетить"
            }}
        </div>
    </div>
</section>


<section class="home-guide-sec">
    <div class="container">
        <div class="sec-header">
            <div class="sec-header__text">
                <h2 class="sec-title">Гиды по призванию</h2>
                <p class="sec-header__subtitle">Встречи с интересными людьми, куда бы вы ни поехали</p>
            </div>

            <!-- <a href="" class="sec-header__btn">Все туры</a> -->

        </div>
        <div class="home-guide-sec__slider-wrapper">
            <div class="swiper guide-slider-swiper">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        {{> components/guide-card-2
                        img="/src/img/guide5.png"
                        title="Марина"
                        }}
                    </div>

                    <div class="swiper-slide">
                        {{> components/guide-card-2
                        img="/src/img/guide6.jpg"
                        title="Марина"
                        }}
                    </div>

                    <div class="swiper-slide">
                        {{> components/guide-card-2
                        img="/src/img/guide7.jpg"
                        title="Марина"
                        }}
                    </div>

                    <div class="swiper-slide">
                        {{> components/guide-card-2
                        img="/src/img/guide8.png"
                        title="Марина"
                        }}
                    </div>

                    <div class="swiper-slide">
                        {{> components/guide-card-2
                        img="/src/img/guide2.jpg"
                        title="Марина"
                        }}
                    </div>

                </div>

            </div>

            <div class="swiper-button-blog guide-swiper-button-prev">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.15429 13.7071C8.53841 13.3166 8.53841 12.6834 8.15429 12.2929L2.94817 7L8.15429 1.70711C8.53841 1.31658 8.53841 0.683417 8.15429 0.292893C7.77017 -0.0976315 7.14738 -0.0976315 6.76326 0.292893L0.861622 6.29289C0.4775 6.68342 0.4775 7.31658 0.861622 7.70711L6.76326 13.7071C7.14738 14.0976 7.77017 14.0976 8.15429 13.7071Z"
                        fill="#5D736E" />
                </svg>
            </div>
            <div class="swiper-button-blog guide-swiper-button-next">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.845709 13.7071C0.461587 13.3166 0.461587 12.6834 0.845709 12.2929L6.05183 7L0.845708 1.70711C0.461586 1.31658 0.461586 0.683417 0.845708 0.292893C1.22983 -0.0976315 1.85262 -0.0976315 2.23674 0.292893L8.13838 6.29289C8.5225 6.68342 8.5225 7.31658 8.13838 7.70711L2.23674 13.7071C1.85262 14.0976 1.22983 14.0976 0.845709 13.7071Z"
                        fill="#5D736E" />
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="home-reviews-sec">
    <div class="container">
        <div class="sec-header">
            <div class="sec-header__text">
                <h2 class="sec-title">Отзывы</h2>
                <p class="sec-header__subtitle">Что говорят путешественники о наших турах и гидах</p>
            </div>
        </div>
        <div class="home-reviews-sec__slider-wrapper">
            {{> components/reviews-slider }}
        </div>
    </div>
</section>

<section class="home-blog-sec">

    <div class="container">
        <div class="sec-header">
            <div class="sec-header__text">
                <h2 class="sec-title">Полезные статьи</h2>
                <!-- <p class="sec-header__subtitle">Путешествия в места, которые не посмотреть за день</p> -->
            </div>

            <a href="" class="sec-header__btn">Все статьи</a>
        </div>
    </div>

    {{> components/blog-slider }}
</section>