<section class="tour-hero-sec">
    <div class="container">

        {{> components/breadcrumbs }}

        <h1 class="tour-hero-sec__title">Индивидуальный тур в Далат «всё включено»: шёлковая фабрика, поездка на
            ретро-паровозе и водопады</h1>

        <div class="tour-hero-sec__info-row"></div>

        <div class="tour-hero-sec__galery-wrapper">

        </div>
    </div>
</section>

<section class="blog-sec">
    <div class="container">
        <h3 class="blog-sec__title">Полезные статьи</h3>
    </div>

    {{> components/blog-slider }}
</section>