<div class="galery-img">
    <div class="galery-img__img-wrapper">
        <a class="galery-img__img-wrapper-link" href="/src/img/hotel1.jpg" data-fancybox="{{name}}"
            data-caption="Caption #1">
            <img class="galery-img__img" src="/src/img/hotel1.jpg" />
        </a>
    </div>

    <div class="galery-img__img-wrapper">
        <a class="galery-img__img-wrapper-link" href="/src/img/hotel2.jpg" data-fancybox="{{name}}"
            data-caption="Caption #1">
            <img class="galery-img__img" src="/src/img/hotel2.jpg" />
        </a>
    </div>

    <div class="galery-img__img-wrapper">
        <a class="galery-img__img-wrapper-link" href="/src/img/hotel3.jpg" data-fancybox="{{name}}"
            data-caption="Caption #1">
            <img class="galery-img__img" src="/src/img/hotel3.jpg" />
        </a>
    </div>

    <div class="galery-img__img-wrapper">
        <a class="galery-img__img-wrapper-link" href="/src/img/hotel4.jpg" data-fancybox="{{name}}"
            data-caption="Caption #1">
            <img class="galery-img__img" src="/src/img/hotel4.jpg" />
        </a>
        <div class="galery-img__img-wrapper-wrapper">
            <div class="galery-img__img-wrapper-counter">+1</div>
        </div>
    </div>

    <div class="galery-img__img-wrapper">
        <a class="galery-img__img-wrapper-link" href="/src/img/hotel5.jpg" data-fancybox="{{name}}"
            data-caption="Caption #1">
            <img class="galery-img__img" src="/src/img/hotel5.jpg" />
        </a>

    </div>


</div>