<div class="org-det" id="org-det">
    <h2 class="org-det__title">Организационные детали</h2>
    <div class="org-det__wrapper">

        <div class="org-det__element">
            <div class="org-det__element-header">
                <p class="org-det__element-header-title">Питание</p>
                <div class="org-det__element-ar">
                    <img src="/src/img/icons/ar.svg" alt="">
                </div>
            </div>
            <div class="org-det__element-body">
                <div class="wp-editor">
                    <p>Включены обед и ужин в 1-й день, завтрак и обед во 2-й день. Питаться будем в ресторане, где
                        подают как местные, так и европейские блюда.</p>
                </div>
            </div>
        </div>

        <div class="org-det__element">
            <div class="org-det__element-header">
                <p class="org-det__element-header-title">Транспорт</p>
                <div class="org-det__element-ar">
                    <img src="/src/img/icons/ar.svg" alt="">
                </div>
            </div>
            <div class="org-det__element-body">
                <div class="wp-editor">
                    <p><b>Микроавтобусы</b>: Ford, Solaty.</p>
                </div>
            </div>
        </div>

        <div class="org-det__element">
            <div class="org-det__element-header">
                <p class="org-det__element-header-title">Возраст участников</p>
                <div class="org-det__element-ar">
                    <img src="/src/img/icons/ar.svg" alt="">
                </div>
            </div>
            <div class="org-det__element-body">
                <div class="wp-editor">
                    <p>0+</p>
                </div>
            </div>
        </div>

        <div class="org-det__element">
            <div class="org-det__element-header">
                <p class="org-det__element-header-title">Виза</p>
                <div class="org-det__element-ar">
                    <img src="/src/img/icons/ar.svg" alt="">
                </div>
            </div>
            <div class="org-det__element-body">
                <div class="wp-editor">
                    <p>Не нужна для граждан РФ.</p>
                </div>
            </div>
        </div>

        <div class="org-det__element">
            <div class="org-det__element-header">
                <p class="org-det__element-header-title">Уровень сложности</p>
                <div class="org-det__element-ar">
                    <img src="/src/img/icons/ar.svg" alt="">
                </div>
            </div>
            <div class="org-det__element-body">
                <div class="wp-editor">
                    <p>Несложный тур с лёгкими прогулками по паркам.</p>
                </div>
            </div>
        </div>

    </div>
</div>