<div class="program-tour">
    <h2 class="program-tour__title">Программа</h2>

    <div class="program-tour__wrapper">

        <div class="wp-editor">
            <p><b>Начало тура:</b> Далат, заберём вас от отеля, 6:00</p>
            <p><b>Финиш:</b> Нячанг, 20:00</p>
        </div>

        <div class="program-tour__acordeons">
            <div class="program-tour__acordeon">
                <div class="program-tour__acordeon-header">
                    <p class="program-tour__acordeon-title">День 1</p>
                    <div class="program-tour__acordeon-ar">
                        <img src="/src/img/icons/ar.svg" alt="">
                    </div>
                </div>
                <div class="program-tour__acordeon-body">
                    <div class="program-tour__acordeon-staps">
                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">1</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">После завтрака поедем к водопаду Понгур</p>
                                <div class="wp-editor">
                                    <p>Этот семиступенчатый водопад поражает мощью и красотой: потоки воды каскадами
                                        спускаются по каменным террасам, создавая шум и брызги, от которых веет
                                        прохладой
                                        даже в жаркий день.</p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">2</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Следующая остановка — шёлковая фабрика</p>
                                <div class="wp-editor">
                                    <p>где можно познакомиться с процессом производства натурального шёлка, увидеть, как
                                        коконы превращаются в нити, и даже поучаствовать в этом традиционном ремесле.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">3</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Посетим дом «Бали»</p>
                                <div class="wp-editor">
                                    <p>построенный франко-вьетнамской семьёй. Это пример старинной архитектуры
                                        зажиточного дома с атмосферой колониальной эпохи. Здесь удобно отдохнуть на
                                        мягких креслах, насладиться чашкой какао и свежей булочкой с шоколадом.
                                        Территория дома славится красивыми фотозонами.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                    {{> components/tour-clusters/galery-img
                    name="program1"
                    }}

                </div>
            </div>

            <div class="program-tour__acordeon">
                <div class="program-tour__acordeon-header">
                    <p class="program-tour__acordeon-title">День 2</p>
                    <div class="program-tour__acordeon-ar">
                        <img src="/src/img/icons/ar.svg" alt="">
                    </div>
                </div>
                <div class="program-tour__acordeon-body">
                    <div class="program-tour__acordeon-staps">
                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">1</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">После завтрака поедем к водопаду Понгур</p>
                                <div class="wp-editor">
                                    <p>Этот семиступенчатый водопад поражает мощью и красотой: потоки воды каскадами
                                        спускаются по каменным террасам, создавая шум и брызги, от которых веет
                                        прохладой
                                        даже в жаркий день.</p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">2</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Следующая остановка — шёлковая фабрика</p>
                                <div class="wp-editor">
                                    <p>где можно познакомиться с процессом производства натурального шёлка, увидеть, как
                                        коконы превращаются в нити, и даже поучаствовать в этом традиционном ремесле.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">3</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Посетим дом «Бали»</p>
                                <div class="wp-editor">
                                    <p>построенный франко-вьетнамской семьёй. Это пример старинной архитектуры
                                        зажиточного дома с атмосферой колониальной эпохи. Здесь удобно отдохнуть на
                                        мягких креслах, насладиться чашкой какао и свежей булочкой с шоколадом.
                                        Территория дома славится красивыми фотозонами.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <div class="program-tour__acordeon">
                <div class="program-tour__acordeon-header">
                    <p class="program-tour__acordeon-title">День 3</p>
                    <div class="program-tour__acordeon-ar">
                        <img src="/src/img/icons/ar.svg" alt="">
                    </div>
                </div>
                <div class="program-tour__acordeon-body">
                    <div class="program-tour__acordeon-staps">
                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">1</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">После завтрака поедем к водопаду Понгур</p>
                                <div class="wp-editor">
                                    <p>Этот семиступенчатый водопад поражает мощью и красотой: потоки воды каскадами
                                        спускаются по каменным террасам, создавая шум и брызги, от которых веет
                                        прохладой
                                        даже в жаркий день.</p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">2</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Следующая остановка — шёлковая фабрика</p>
                                <div class="wp-editor">
                                    <p>где можно познакомиться с процессом производства натурального шёлка, увидеть, как
                                        коконы превращаются в нити, и даже поучаствовать в этом традиционном ремесле.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="program-tour__acordeon-stap">
                            <div class="program-tour__acordeon-stap-num">3</div>
                            <div class="program-tour__acordeon-data">
                                <p class="program-tour__acordeon-data-title">Посетим дом «Бали»</p>
                                <div class="wp-editor">
                                    <p>построенный франко-вьетнамской семьёй. Это пример старинной архитектуры
                                        зажиточного дома с атмосферой колониальной эпохи. Здесь удобно отдохнуть на
                                        мягких креслах, насладиться чашкой какао и свежей булочкой с шоколадом.
                                        Территория дома славится красивыми фотозонами.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>


        </div>


    </div>
</div>