<div class="tour-useful-info" id="tour-useful-info">
    <h2 class="tour-useful-info__title">Полезная информация</h2>
    <div class="tour-useful-info__content">
        <p class="tour-useful-info__text">
            После внесения предоплаты на сайте других предоплат не требуется. Остальную сумму нужно будет оплатить организатору на месте, в день начала тура в долларах, евро или лари.
        </p>
        <p class="tour-useful-info__text tour-useful-info__text--bold">
            Возможно организовать путешествие в другие даты.
        </p>
    </div>
</div>
