.blog-slider-wrapper {
    position: relative;
}

.swiper-button-blog {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $white;
    z-index: 20;
    cursor: pointer;
    border: solid 1px $green2;
}

.blog-swiper-button-prev {
    left: calc(50% - ((1220px / 2) + 20px));
    top: 120px;
}

.blog-swiper-button-next {
    right: calc(50% - ((1220px / 2) + 20px));
    top: 120px;
}

.post-slider-swiper {
    .swiper-slide {
        width: calc(386px + 30px);
        padding: 15px;
    }

    .blog-post {
        width: 100%;
    }
}