.direction-card {
    display: block;
    padding: 5px;
    border-radius: 20px;
    background: $white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.03);
        transition: all ease 0.3s;
    }
}

.direction-card__img-wrapper {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
}

.direction-card__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.direction-card__data {
    padding: 10px;
}

.direction-card__name-location {
    font-size: 16px;
    font-weight: 600;
    color: $black1;
}

.direction-card__count {
    font-size: 13px;
    color: $grey1;
    margin-top: 5px;
    font-weight: 500;
}