.review {
    background: $lightGrey1;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;

    &:hover {
        transform: translateX(10px);
        transition: all ease 0.3s;
    }
}

.review__img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.review__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.review__body {
    width: calc(100% - 100px);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.review__user-data-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.review__user {
    display: flex;
    align-items: center;
}

.review__user-img {
    width: 30px;
    object-fit: cover;
    display: block;
    height: 30px;
    border-radius: 100px;
}

.review__user-name {
    font-size: 16px;
    font-weight: 600;

    margin-left: 15px;
}

.review__rate-row {
    display: flex;
    align-items: center;
    margin-left: 20px;

    svg {
        width: 15px;
        height: auto;
        display: block;
        margin-right: 4px;
    }
}

.review__date {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $grey1;
    opacity: 0.7;

    svg {
        display: block;
        margin-right: 5px;
    }
}

.review__name-tour {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}

.review__name-tour-link {
    color: $green1;
}

.review__text {
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.3;
    color: $grey1;
}