.wp-editor {
    p {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.5px;

        &:last-child {
            margin-bottom: 0;
        }

        b,
        strong {
            font-weight: 700;
        }
    }

    a {
        text-decoration: underline;
        color: $green1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}