<a href="/tour.html" class="user-excursion-card user-excursion-card--{{statusModifier}}">
    <div class="user-excursion-card__preview">
        <img class="user-excursion-card__img" src="{{img}}" alt="{{title}}" width="80" height="80">
    </div>

    <div class="user-excursion-card__info">
        <p class="user-excursion-card__title">{{title}}</p>
        <p class="user-excursion-card__subtitle">{{subtitle}}</p>
    </div>

    <div class="user-excursion-card__duration">
        <span class="user-excursion-card__duration-value">{{duration}}</span>
    </div>

    <div class="user-excursion-card__price">
        <span class="user-excursion-card__price-value">{{priceValue}}</span>
    </div>

    <div class="user-excursion-card__status-wrap">
        <span class="user-excursion-card__status user-excursion-card__status--{{statusModifier}}">{{statusText}}</span>
    </div>
</a>
