<a href="/tour.html" class="user-tour-card user-tour-card--{{statusModifier}}">
    <div class="user-tour-card__preview">
        <img class="user-tour-card__img" src="{{img}}" alt="{{title}}" width="80" height="80">
    </div>

    <div class="user-tour-card__info">
        <p class="user-tour-card__title">{{title}}</p>
        <p class="user-tour-card__subtitle">{{subtitle}}</p>
    </div>

    <div class="user-tour-card__duration">
        <span class="user-tour-card__duration-value">{{duration}}</span>
    </div>

    <div class="user-tour-card__price">
        <span class="user-tour-card__price-value">{{priceValue}}</span>
    </div>

    <div class="user-tour-card__status-wrap">
        <span class="user-tour-card__status user-tour-card__status--{{statusModifier}}">{{statusText}}</span>
    </div>
</a>
