<div class="reviews-slider-wrapper">
    <div class="swiper reviews-slider-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                {{> components/review-card
                reviewId="1"
                rating="4.9"
                avatar="/src/img/user1.webp"
                userName="MAN"
                experience="Опыт: 3 экскурсии"
                date="4 февраля 2026"
                dateISO="2026-02-04"
                title="Киты, тюлени и невероятная Териберка"
                text="Отличная экскурсия! Артём — прекрасный гид, рассказал много интересного, маршрут построен логично. Погода в тот день была не самая удачная, но это не испортило впечатления. Териберка покорила суровой красотой, удалось увидеть китов вдали. Рекомендую всем, кто хочет увидеть настоящий Север."
                image1="/src/img/tour1.jpg"
                image2="/src/img/tour2.jpg"
                image3="/src/img/tour3.jpg"
                image4="/src/img/tour4.webp"
                moreCount="5"
                }}
            </div>
            <div class="swiper-slide">
                {{> components/review-card
                reviewId="2"
                rating="5"
                avatar="/src/img/user1.webp"
                userName="Анна"
                experience="Опыт: 7 экскурсий"
                date="28 января 2026"
                dateISO="2026-01-28"
                title="Северные провинции и тысячи островов"
                text="Была в туре по Юго-Восточной Азии. Впечатления на всю жизнь — просто фантастически крутое путешествие у нас получилось! Выражаю огромную благодарность агентству и гиду Алёне за то, что подарили мне возможность познакомиться с такими разными, но по-своему чудесными дальними странами!"
                image1="/src/img/post1.jpg"
                image2="/src/img/post2.jpg"
                image3="/src/img/post3.jpg"
                image4="/src/img/tour5.jpg"
                moreCount="2"
                }}
            </div>
            <div class="swiper-slide">
                {{> components/review-card
                reviewId="3"
                rating="4.2"
                avatar="/src/img/user1.webp"
                userName="Дмитрий"
                experience="Опыт: 1 экскурсия"
                date="15 января 2026"
                dateISO="2026-01-15"
                title="Забыть о делах: отпуск на Пхукете"
                text="Поехали с женой в мини-группе. Всё было организовано на высшем уровне: трансферы, отели, экскурсии. Гид Марина знает каждый уголок острова. Полюбовались каскадами рисовых террас, поднялись к Вратам рая. Обязательно вернёмся."
                image1="/src/img/tour6.jpg"
                image2="/src/img/dir-1.jpg"
                image3="/src/img/dir-2.webp"
                image4="/src/img/dir-3.jpg"
                moreCount="0"
                }}
            </div>
            <div class="swiper-slide">
                {{> components/review-card
                reviewId="4"
                rating="4.7"
                avatar="/src/img/user1.webp"
                userName="Елена"
                experience="Опыт: 12 экскурсий"
                date="2 февраля 2026"
                dateISO="2026-02-02"
                title="Под парусом от острова к острову"
                text="Тайский круиз на катамаране превзошёл все ожидания. Оказались в «Руках Бога», запустили плавучий фонарик в местной Венеции, прокатились на лодке по мангровым зарослям. Команда профессиональная, питание отличное. Спасибо за незабываемую неделю!"
                image1="/src/img/dir-5.jpg"
                image2="/src/img/dir-6.jpg"
                image3="/src/img/dir-7.jpg"
                image4="/src/img/dir-8.webp"
                moreCount="3"
                }}
            </div>
            <div class="swiper-slide">
                {{> components/review-card
                reviewId="5"
                rating="4.5"
                avatar="/src/img/user1.webp"
                userName="Игорь"
                experience="Опыт: 5 экскурсий"
                date="11 декабря 2025"
                dateISO="2025-12-11"
                title="Релакс-выходные на реке Квай"
                text="Слоны, сплав на плоту и катание на лодках — всё в одном туре. Отдохнули на лучших пляжах, расслабились во время тайского массажа. Погода благоволила, гиды весёлые и внимательные. Рекомендую для семейного отдыха."
                image1="/src/img/hotel1.jpg"
                image2="/src/img/hotel2.jpg"
                image3="/src/img/hotel3.jpg"
                image4="/src/img/hotel4.jpg"
                moreCount="1"
                }}
            </div>
        </div>
    </div>
    <div class="swiper-button-blog reviews-swiper-button-prev">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.15429 13.7071C8.53841 13.3166 8.53841 12.6834 8.15429 12.2929L2.94817 7L8.15429 1.70711C8.53841 1.31658 8.53841 0.683417 8.15429 0.292893C7.77017 -0.0976315 7.14738 -0.0976315 6.76326 0.292893L0.861622 6.29289C0.4775 6.68342 0.4775 7.31658 0.861622 7.70711L6.76326 13.7071C7.14738 14.0976 7.77017 14.0976 8.15429 13.7071Z" fill="#5D736E" />
        </svg>
    </div>
    <div class="swiper-button-blog reviews-swiper-button-next">
        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.845709 13.7071C0.461587 13.3166 0.461587 12.6834 0.845709 12.2929L6.05183 7L0.845708 1.70711C0.461586 1.31658 0.461586 0.683417 0.845708 0.292893C1.22983 -0.0976315 1.85262 -0.0976315 2.23674 0.292893L8.13838 6.29289C8.5225 6.68342 8.5225 7.31658 8.13838 7.70711L2.23674 13.7071C1.85262 14.0976 1.22983 14.0976 0.845709 13.7071Z" fill="#5D736E" />
        </svg>
    </div>
</div>
