.galery-img {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin-left: -10px;
}

.galery-img__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.galery-img__img-wrapper {
    width: calc(25% - 10px);
    margin: 0 5px 10px 5px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: none;
    transition: all ease 0.3s;

    &:nth-child(-n + 4) {
        display: block;
    }

    &:hover {
        transform: scale(1.01);
        transition: all ease 0.3s;
    }
}

.galery-img__img-wrapper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgba(93, 184, 166, 0.55);
    pointer-events: none;
    position: absolute;
}

.galery-img__img-wrapper-link {
    display: block;
    width: 100%;
    height: 100%;
}

.galery-img__img-wrapper-counter {
    font-weight: 600;
    color: $white;
}