.tour-hero-sec {
    padding-top: 125px;
    padding-bottom: 90px;
}

.tour-hero-sec__title {
    font-size: 42px;
    font-weight: 800;
    margin: 8px 0;
    line-height: 1.2;
    margin-bottom: 30px;
}

.tour-hero-sec__info-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tour-hero-sec__info-row-left {
    display: flex;
    align-items: center;
}

.tour-hero-sec__rate {
    display: flex;
    align-items: center;

    svg {
        display: block;
    }
}

.tour-hero-sec__rate-counter {
    font-weight: 600;
    color: $green1;
    font-size: 18px;
    margin-left: 6px;
}

.tour-hero-sec__rate-reviews {
    font-size: 16px;
    color: $grey1;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        color: $green1;
        transition: all ease 0.3s;
    }
}

.tour-hero-sec__time-period {
    display: flex;
    align-items: center;
    margin-left: 30px;

    svg {
        display: block;
        width: 18px;
        height: auto;

        path {
            stroke: $grey1;
        }
    }
}

.tour-hero-sec__time-period-value {
    font-size: 16px;
    color: $grey1;
    font-weight: 500;
    margin-left: 7px;
}

.tour-hero-sec__group-size {
    display: flex;
    align-items: center;
    margin-left: 30px;

    svg {
        display: block;
        width: 20px;
        height: auto;

        path {
            fill: $grey1;
        }
    }
}

.tour-hero-sec__group-size-value {
    font-size: 16px;
    color: $grey1;
    font-weight: 500;
    margin-left: 5px;
}

.tour-hero-sec__price {
    font-weight: 600;
    font-size: 16px;

    span {
        font-weight: 700;
        font-size: 24px;
        color: $green1;
    }
}

.tour-hero-sec__galery-wrapper {
    width: 100%;
}

.galery-tour {
    display: flex;
    justify-content: space-between;
}

.galery-tour__front-img-wrapper {
    width: 815px;
    height: 455px;
    overflow: hidden;
    display: block;
    border-radius: 20px;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.01);
        transition: all ease 0.3s;
    }
}


.galery-tour__img-link {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    &:hover {
        .galery-tour__zoom {
            transform: translateY(0);
            transition: all ease 0.3s;
        }
    }
}

.galery-tour__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.galery-tour__col {
    width: calc((100% - 815px - 10px - 10px)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.galery-tour__small-img-wrapper {
    width: 100%;
    height: calc(50% - 5px);
    overflow: hidden;
    border-radius: 15px;
    transition: all ease 0.3s;
    position: relative;

    &:hover {
        transform: scale(1.02);
        transition: all ease 0.3s;
    }

}

.galery-tour__small-img-wrapper-have-more-images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgba(93, 184, 166, 0.55);
    pointer-events: none;
}

.galery-tour__hiden-images-container {
    display: none;
}

.galery-tour__small-img-wrapper-have-more-images-counter {
    font-weight: 600;
    color: $white;
}

.galery-tour__zoom {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: rgba(93, 184, 166, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
    right: 20px;
    bottom: 20px;
    transition: all ease 0.3s;
    transform: translateY(70px);

    img {
        width: 24px;
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        background: rgba(93, 184, 166, 1);
        transition: all ease 0.3s;

        img {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}

.tour-info-sec {
    padding-bottom: 125px;
    overflow: visible;


}

.tour-info-sec__container {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.tour-info-sec__aside {
    width: 396px;
    position: relative;

}

.tour-info-sec__main {
    width: calc(100% - 396px - 10px - 20px);
    position: relative;
}

.tour-info-sec__fixed-nav {
    position: sticky;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 10px;

}

.tour-info-sec__fixed-nav-list {
    display: flex;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.tour-info-sec__fixed-nav-list-element {
    a {
        padding: 10px 13px;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: $grey1;
        transition: all ease 0.3s;

        &:hover {
            color: $green1;
            transition: all ease 0.3s;
        }
    }
}






.tour-info-sec__aside-org {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background: $white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
}

.tour-info-sec__aside-org-img-wrapper {
    width: 110px;
    height: 110px;
    border-radius: 16px;
    overflow: hidden;

}

.tour-info-sec__aside-org-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.tour-info-sec__aside-org-data {
    width: calc(100% - 110px);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.tour-info-sec__aside-org-name {
    font-size: 16px;
    font-weight: 600;
}

.tour-info-sec__aside-org-name-link {
    color: $black1;
    transition: all ease 0.3s;

    &:hover {
        color: $green1;
        transition: all ease 0.3s;
    }
}

.astour-info-sec__aside-org-subtitle {
    color: $grey1;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
}

.astour-info-sec__aside-org-btn {
    background: $green1;
    color: $white;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    margin-top: 10px;
    transition: all ease 0.3s;

    svg {
        display: block;
        width: 14px;
        height: auto;
        margin-left: 5px;

        path {

            fill: $white;
        }
    }

    &:hover {
        background: $orange1;
        transition: all ease 0.3s;
    }
}


.booking-card {
    // border: solid 1px #eaeaea;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    padding: 20px;
    position: sticky;
    top: 10px;
    right: 0;
    margin-top: 30px;
}

.booking-card__offer {
    border: solid 2px $green3;
    border-radius: 12px;
    padding: 15px;
}

.booking-card__offer-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.booking-card__offer-subtitle {
    color: $grey1;
    font-size: 12px;
    margin-bottom: 20px;

}

.booking-card__offer-peoples {
    font-weight: 400;
    color: $black1;
    font-size: 14px;
    margin-bottom: 7px;
    padding-left: 15px;
    position: relative;
    margin-top: 10px;

    &::before {
        width: 6px;
        height: 6px;
        left: 0;
        position: absolute;
        content: "";
        top: 7px;
        border-radius: 10px;
        background: $black1;
    }
}

.booking-card__offer-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    span {
        font-size: 28px;
        line-height: 1;
        font-weight: 700;
        color: $green1;
    }
}

.booking-card__offer-price-tax-info {
    font-size: 12px;
    margin-top: 7px;
    color: $grey1;
    margin-bottom: 25px;

}

.offer-reserve-btn {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 100px;
    background: $green1;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0;
    transition: all ease 0.3s;
    letter-spacing: -0.5px;
    border: none;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;

    &:hover {
        background: $orange1;
        transition: all ease 0.3s;
    }
}

.offer-reserve-btn__text {
    width: calc(100% - 40px);
    text-align: center;
}

.offer-reserve-btn__icon-wrapper {

    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: $white;


    svg {
        width: 30px;
        height: auto;
        display: block;
    }

}

.booking-card__type {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.booking-card__adv-list {
    margin-bottom: 20px;
}

.booking-card__adv-list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.booking-card__adv-list-element-name {
    font-size: 14px;
    color: $grey1;
    font-weight: 500;
}

.booking-card__adv-list-element-value {
    font-size: 14px;
    color: $black1;
    font-weight: 500;
}