.tours-hero-sec {
    padding-top: 125px;
    padding-bottom: 125px;
}

.tours-hero-sec__title {
    font-size: 48px;
    line-height: 52px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 800;
}

.tours-hero-sec__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

.tours-hero-sec__filtr-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.tours-hero-sec__filtr-btn {
    padding: 13px 25px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: all ease 0.3s;

    svg {
        display: block;
        margin-right: 6px;

        path {
            transition: all ease 0.3s;
        }
    }

    &:hover {
        background: $green1;
        transition: all ease 0.3s;
        color: $white;
        border: solid 1px $green1;

        svg {
            path {
                fill: $white;
                transition: all ease 0.3s;
            }
        }
    }
}

.tours-hero-sec__tegs-wrapper {
    margin-bottom: 80px;
}

.tours-hero-sec__tegs-title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
}

.tours-hero-sec__tegs-row {
    display: flex;
    flex-wrap: wrap;
}

.tour-teg {
    padding: 6px 13px;
    background: rgba(0, 0, 0, 0.05);
    display: inline-flex;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: $black1;
    transition: all ease 0.3s;

    &:hover {
        background: $green2;
        transition: all ease 0.3s;
        color: $white;

        .tour-teg__counter {
            color: $white;
            transition: all ease 0.3s;
            opacity: 0.7;
        }
    }

    &.active {
        background: $green1;
        color: $white;

        .tour-teg__counter {
            color: $white;
            opacity: 0.7;
        }
    }
}

.tour-teg__counter {
    margin-left: 4px;
    font-weight: 500;
    font-size: 14px;
    color: $grey1;
    transition: all ease 0.3s;
}

.tours-hero-sec__teg {
    margin-right: 8px;
    margin-bottom: 8px;
}

.tours-hero-sec__all-tours-title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 12px;
    font-weight: 800;
}

.tours-hero-sec__all-tours-subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}

.tours-hero-sec__all-tours-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;

    .tour-card {
        width: calc(33.333% - 30px);
        margin: 0 15px 30px 15px;
    }
}

.guide-sec {
    padding-bottom: 125px;
}

.guide-sec__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 35px;
}

.guide-sec__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .guide-card {
        width: calc(50% - 15px);
        margin-bottom: 30px;

        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}

.blog-sec {
    padding-bottom: 125px;
}

.blog-sec__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}

.reviews-sec {
    padding-bottom: 125px;
}

.reviews-sec__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 35px;
}

.reviews-sec__wrapper {
    .review {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}