$mainFont: "Montserrat", sans-serif;
$titleFont: 'Audi Type Extended';


$white: #fff;
$black1: #202020;

$green1: rgba(93, 184, 166, 1);
$green2: #A3D2B2;

$lightGrey1: #F7F7F7;
$lightGrey2: #F1F3F6;

$grey1: #8A95A1;