$mainFont: "Montserrat", sans-serif;
$titleFont: 'Audi Type Extended';


$white: #fff;
$black1: #202020;

$green1: rgba(93, 184, 166, 1);
$green2: #A3D2B2;
$green3: #DFF2E5;

$lightGrey1: #F1F3F6;
$lightGrey2: #F1F3F6;

$grey1: #8A95A1;

$orange1: #EFAC44;
$red1: #E97045;