@import "vars";
@import "fonts";
@import "libs";
@import "mixins";

@import "sourse";

//components
@import "header";
@import "footer";
@import "components/bread-crumbs";
@import "components/tour-card";
@import "components/pagination";
@import "components/guide-card";
@import "components/blog-slider";
@import "components/post";
@import "components/review";
@import "components/wp-editor";
@import "components/direction-card";
@import "components/guide-card-2";
@import "components/review-card";
@import "components/reviews-slider";
@import "components/faq-item";
@import "components/hero-search";


@import "components/tour-clusters/description";
@import "components/tour-clusters/org-det";
@import "components/tour-clusters/living";
@import "components/tour-clusters/galery-img";
@import "components/tour-clusters/program";

//pages
@import "home";
@import "tours";
@import "tour";
@import "blog";
@import "post";



//libs
// @import "popups";